.app {
  display: flex;
  flex-direction: column;
}

header,
.basket-list {
  border-radius: 0;
}

header {
  h1 {
    font-size: 26px;
  }
}

.product {
  height: 50px;
  .add-btn {
    width: 40px;
    height: 40px;
    cursor: default;
  }
}

.basket-list {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  .basket-head {
    height: 60px;
    .close-btn {
      height: 40px;
      width: 40px;
    }
  }
}

.li-buttons {
  gap: 20px;

  span {
    width: 36px;
    height: 36px;
    padding: 8px;
    cursor: default;
  }
}
.lower-button {
  span {
    width: 80px;
    height: 40px;
    line-height: 36px;
    font-size: 18px;
  }
}

.nav-btns {
  width: 240px;
  span {
    height: 50px;
    width: 120px;
    line-height: 50px;
  }
}
